{
  "monitor": {
    "host1" : "192.168.1.11",
    "https1" : {
      "httpsKeyLocation" : "/Users/nubisa_krzs/Documents/temp/_jx_dev/_monitor/certs.txt",
      "httpsCertLocation" : "/Users/nubisa_krzs/Documents/temp/_jx_dev/_monitor/certs.txt"
    },
    "remote" : {
      "host" : "192.168.1.11",
      "port" : 17778,
      "https" : {
        "key" : "/Users/nubisa_krzs/Documents/temp/_jx_dev/_monitor/certs.txt",
        "cert" : "/Users/nubisa_krzs/Documents/temp/_jx_dev/_monitor/certs.txt"
      }
    }
  }
}
